# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Build outputs
**/target/
**/dist/
**/dist-ssr/
**/build/
output/
*.log
*.csv

# Dependencies
**/node_modules/
.npm/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
backend/data/
